/* Media Queries
-------------------------------------------------------------- */
@media only screen and (max-width: 1366px) {
	
	
}

/* Smaller than standard 1200 */
@media only screen and (max-width: 1199px) {
	#mainnav > ul > li > a {
		padding: 0 9px 0 9px;
	}	
}

/* Smaller than standard 992 */
@media only screen and (max-width: 991px) {
	.btn-menu {
		display: block ;
	}

	.flat-row.row-container-icontop {
	    padding-top: 80px !important;
	}

	.iconbox.style2 .box-content {
		top: 190px;
	}

	.mainnav {
		display: none;
	}

	.flat-information > li > a {
		padding: 5px 0 5px 28px;
	}

	.flat-information > li:before {
		top: 5px;
	}

	.header .logo {
		float: left;
		margin: 28px 50px 0 0;
	}

	.social-links,
	.flat-information {
		text-align: center;
	}

	.flat-row.about,
	.flat-row.blog,
	footer,
	.page-title,
	.main-content,
	.flat-row.offer {
		padding: 40px 0 30px;
	}

	.iconbox,
	.flat-testimonials-images,
	.footer-widgets .widget  {
		margin-bottom: 30px;
	}

	.flat-portfolio .item,
	.flat-portfolio.grid-3columns .item,
	.flat-on-four {
		width: 50%;
	}

	.comment-respond .comment-notes, .comment-respond .comment-form-email,
	.comment-respond .comment-notes, .comment-respond .comment-form-email,
	.mail-chimp input[type="email"],
	.page-single .page-content,
	.page-single .page-sidebar,
	.flat-one-half,
	.flat-promobox.style1 .promobox-group-content,
	.flat-promobox.style1 .promobox-group-btn {
		width: 100%;
	}

	.comment-respond .comment-notes {
		padding-right: 0;
	}

	.comment-respond .comment-form-email {
		padding-left: 0;
	}

	.go-top {
		width: 30px;
		height: 30px;
		line-height: 30px;		
	}

	.flat-row {
		padding: 40px 0;
	}

	.widget.widget_instagram ul li {
		width: 80px;
	}	

	.tp-leftarrow.square, .tp-rightarrow.square {
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
	}

	.tp-leftarrow.square:before, .tp-rightarrow.square:before {
		left: 10px;
		top: 0;
		font-size: 22px;
	}

	.page-title-heading h1,
	.flat-qoute p {
		font-size: 30px;
	}

	.sidebar {
		padding-top: 30px;
		border-left: 0;
		padding-left: 0;
		margin-left: 0;
	}

	.blog-single .direction ul li ul.social-icons {
		margin-top: 0;
		padding: 20px 0;
	}

	.testimonials {
		margin-bottom: 30px;
	}

	.mail-chimp .subscribe {
		text-align: left;
	}

	.subscribe label {
		display: block;
	}

	.mail-chimp input[type="submit"] {
		right: 0;
	}

	.page-single .page-content,
	.page-single .page-sidebar {
		padding: 0 15px;
	}

	.flat-contact-info {
		margin-left: 0;
		margin-top: 30px;
	}

	.tp-leftarrow.square, .tp-rightarrow.square {
		background-color: transparent;		
	}

	.flat-promobox.style1 .promobox-group-content {
		padding: 0 15px;
	}

	.flat-promobox.style1 .promobox-group-btn {
		text-align: left;
	}
	
	.imgaes-single-accordion,
	.imgaes-progress-home7 {
		height: 300px;
	}

	.flat-accordion.style5,
	.wrap-progress-home7 {
		padding: 0 15px 0 15px;
	}

	.testimonials.style2 .message {
		padding: 0 15px;
	}

	.imgaes-progress-home7 {
		margin-bottom: 15px;
	}
}

/* Tablet Landscape */
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* Tablet Portrait Size */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
	.requestform p,
	.item-two-column {
		width: 100%;
	}

	.testimonials .avatar,
	.blog-shortcode.style1 article .featured-post {
		max-width: 100%;
	}

	.testimonials .avatar,
	.blog-shortcode.style1 article .featured-post {
		margin-right: 0;
	}

	.testimonials .avatar,
	.blog-shortcode.style1 article .featured-post,
	.flat-button.medium.button-radius {
		margin-bottom: 15px;
	}

	.requestform {
		padding-left: 0;
	}

	.flat-contact-form .input-wrap.name, .flat-contact-form .input-wrap.email {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	.blog-shortcode.style1.one-halft article {
		width: 100%;
	}

	.testimonials .avatar {
		float: none;
	}

	.flat-promobox.style1 .promobox-group-btn {
		text-align: center;
	}
	
}

/* Mobile Landscape Size */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}

/* Mobile Portrait Size */
@media only screen and (max-width: 479px) {
	.flat-portfolio .item,
	.flat-portfolio.grid-3columns .item {
		width: 100%;
	}	

	.tp-leftarrow.square, .tp-rightarrow.square {
		display: none;
	}

	.flat-portfolio.style1 .item:hover .project-title {
		top: 35%;
		left: 20px;
	}

	.flat-portfolio.style1 .view-detail {
		left: 20px;
	}

	.flat-portfolio.style1 .project-title {
		padding-right: 15px;
	}
}


@media (max-width: 768px){
	.featured-images img{
		width: 540px;
		margin-top: 10px;
	}
}